/*Inicio Estructura Index con Grids*/
/*Inicio Estructura Mobile First*/
.grilla-cuerpo-index{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh auto auto auto auto auto;
    grid-template-areas:
    "encabezado-1"
    "banner-1"
    "servicios"
    "valores"
    "ubicaciones"
    "footer";
}

.encabezado-1{
    grid-area: encabezado-1;
    display: flex;
    flex-flow: column wrap;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url('../imagenes/portada.jpg');
    background-size: cover;
    background-position-x: 30%;
    background-position-y: 50%;
}

.encabezado-2{
    grid-area: encabezado-2;
    display: none; 
}

.banner-1{
    grid-area: banner-1;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    h1{
        padding: 0.3em;

    }

    p{
        padding: 0 0.3em 1em 0.3em;
    }
}

.banner-1-contenido{
    position: relative;
    border-style: solid;
    border-width: 0.1em;
    border-color: #003468;
    margin: 1em 10%;
    padding: 1em;

    h1{
        font-family: 'Poppins';
        font-size: 3em;
        font-weight: 800;
        margin: 0;
        padding: 0;
    }

    p{
        padding: 1em 0;
    }
}

.servicios{
    grid-area: servicios;
    margin: 1em 0;
}

.valores{
    grid-area: valores;
}

.ubicaciones{
    grid-area: ubicaciones;
}

.footer{
    grid-area: footer;
    background-color: #003468;
}

/*Inicio 'encabezado-1*/
.header-logo{
    display: inline-block;
    text-align: center;
}

.nav-lista{
    display: flex;
    flex-flow: column wrap;
    row-gap: 1em;
    justify-content: center;
    padding: 0.5em;
    list-style-type: none;
    
    li{
        display: inline-block;
        border-style: solid;
        border-width: 0.1em;
        border-color: white;
        font-family: 'Padauk';
        font-size: 1.3rem;
        font-weight: 800;
        color: red;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-shadow: 2px 2px black;
    }

    a{
        display: block;
        padding: 0.5em 1em;
        color: white;

        &:hover{
            background-color: white;
            color: #005c99;
            text-shadow: none;
        }

        &:active{
            color: white;
            background-color: #005c99;
        }
    }
}

.encabezado-flecha-abajo{
    display: inline-block;
    position: relative;
    height: 10%;
}

/*Inicio Animacion*/
.flecha-animada{
    animation: arriba-abajo 1s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
}

@keyframes arriba-abajo {
    0%, 100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(0px);
    }
}
/*Fin Animacion*/
/*Fin 'encabezado-1*/

/*Inicio 'encabezado-2*/
/*Inicio Media Query*/
@media(min-width:768px) and (max-width:1023px){
    .grilla-cuerpo-index{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 75vh auto auto auto auto;
        grid-template-areas:
        "encabezado-2"
        "banner-1"
        "servicios"
        "valores"
        "ubicaciones"
        "footer"
        ;
    }

    .encabezado-1{
        grid-area: encabezado-1;
        display: none;
    }

    .encabezado-2{
        grid-area: encabezado-2;
        display: grid;
        grid-template-columns: repeat(7,14.27%);
        grid-template-rows: 100%;
        grid-template-areas:
        "enc-2-logo enc-2-inicio enc-2-servicios enc-2-ubicacion enc-2-trabajos enc-2-nosotros enc-2-iconos";
        padding: 1em 0;
        font-family: 'Padauk';
        font-size: 1rem;
        text-align: center;
        color: #003468;

        a{
            display: block;
            margin: 0 0.5em;
            border-style: solid;
            border-width: 0.1em;
            border-color: #003468;
            padding: 0.5em 0;
            height: 100%;
            color: #003468;

            &:hover{
                background-color: #003468;
                color: white;
            }
        }
    }

    .enc-2-logo{
        grid-area: enc-2-logo;
        align-self: center;

        a{
            display: block;
            border-style: none;

            &:hover{
                background-color: white;
            }
        }
    }

    .enc-2-inicio{
        grid-area: enc-2-inicio;
        align-self: center;
    }

    .enc-2-servicios{
        grid-area: enc-2-servicios;
        align-self: center;
    }

    .enc-2-ubicacion{
        grid-area: enc-2-ubicacion;
        align-self: center;
    }

    .enc-2-trabajos{
        grid-area: enc-2-trabajos;
        align-self: center;
    }

    .enc-2-nosotros{
        grid-area: enc-2-nosotros;
        align-self: center;
    }

    .enc-2-iconos{
        grid-area: enc-2-iconos;
        display: block;
        align-self: center;

        a{
            display: inline-block;
            margin: 0;
            border-style: none;

            &:hover{
                background-color: white;
            }
        }
    }

    .encabezado-icono{
        width: 25px;
    }

    .banner-1{
        grid-area: banner-1;
        background-image: url('../imagenes/portada.jpg');
        background-size: cover;
        background-position-x: 10%;
        background-position-y: 50%;
        width: 100%;
        color: white;
        font-weight: 400;
        text-shadow: 1.5px 1px rgb(0, 0, 0);
        margin: 0;
        padding: 0;
    }

    .banner-1-contenido{
        position: relative;
        margin: 0 10%;
        border-style: none;
        background-color: #00000025;
    }
}


@media(min-width:1024px){
    .grilla-cuerpo-index{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: auto 75vh auto auto auto auto;
        grid-template-areas:
        "encabezado-2 encabezado-2"
        "banner-1 banner-2"
        "servicios servicios"
        "valores valores"
        "ubicaciones ubicaciones"
        "footer footer"
        ;
    }

    .encabezado-1{
        display: none;
    }

    .encabezado-2{
        grid-area: encabezado-2;
        display: grid;
        grid-template-columns: repeat(7,14.27%);
        grid-template-rows: 100%;
        grid-template-areas:
        "enc-2-logo enc-2-inicio enc-2-servicios enc-2-ubicacion enc-2-trabajos enc-2-nosotros enc-2-iconos";
        padding: 1em 0;
        text-align: center;
    
        a{
            display: block;
            margin: 0 0.5em;
            border-style: solid;
            border-width: 0.1em;
            border-color: #003468;
            padding: 0.5em 0;
            height: 100%;
            color: #003468;

            &:hover{
                background-color: #003468;
                color: white;
            }
        }
    }

    .enc-2-logo{
        grid-area: enc-2-logo;
        align-self: center;

        a{
            display: block;
            border-style: none;

            &:hover{
                background-color: white;
            }
        }
    }

    .enc-2-inicio{
        grid-area: enc-2-inicio;
        align-self: center;
    }

    .enc-2-servicios{
        grid-area: enc-2-servicios;
        align-self: center;
    }

    .enc-2-ubicacion{
        grid-area: enc-2-ubicacion;
        align-self: center;
    }

    .enc-2-trabajos{
        grid-area: enc-2-trabajos;
        align-self: center;
    }

    .enc-2-nosotros{
        grid-area: enc-2-nosotros;
        align-self: center;
    }

    .enc-2-iconos{
        grid-area: enc-2-iconos;
        display: block;
        align-self: center;

        a{
            display: inline-block;
            margin: 0;
            border-style: none;

            &:hover{
                background-color: white;
            }
        }
    }

    .encabezado-icono{
        width: 25px;
    }

    .banner-1-contenido{
        border-style: none;
    }
    
    .banner-2{
        grid-area: banner-2;
        background-image: url('../imagenes/portada.jpg');
        background-size: cover;
    }
}
/*Fin Encabezado*/

/*Inicio 'grilla-servicios*/
/*Inicio mobile first*/
.grilla-servicios{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,auto);
    row-gap: 1em;
    grid-template-areas:
    "desc-servicio-1"
    "foto-servicio-1"
    "desc-servicio-2"
    "foto-servicio-2"
    "desc-servicio-3"
    "foto-servicio-3"
    ;
}

.desc-servicio-1{
    grid-area: desc-servicio-1;
}

.foto-servicio-1{
    grid-area: foto-servicio-1;
}

.desc-servicio-2{
    grid-area: desc-servicio-2;
}

.foto-servicio-2{
    grid-area: foto-servicio-2;
}

.desc-servicio-3{
    grid-area: desc-servicio-3;
}

.foto-servicio-3{
    grid-area: foto-servicio-3;
}

.contenedor-desc-derecha{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: flex-end;
    height: 100%;
    margin: 0 10%;
    text-align: right;

    h2{
        display: inline-block;
        text-align: right;
        margin-bottom: 1em;
    }

    p{
        display: inline-block;
        text-align: justify;
        margin-bottom: 1em;
    }
}

.contenedor-foto-izquierda{
    display: block;
    margin: 0 10%;
    height: 100%;
}

.contenedor-desc-izquierda{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: flex-start;
    height: 100%;
    margin: 0 10%;
    text-align: right;

    h2{
        display: inline-block;
        text-align: right;
        margin-bottom: 1em;
    }

    p{
        display: inline-block;
        text-align: justify;
        margin-bottom: 1em;
    }

    h3{
        display: inline-block;
        text-align: right;
        margin-bottom: 0;
    }
}

.contenedor-foto-derecha{
    display: block;
    margin: 0 10%;
    height: 100%;
}
/*Fin mobile first */

/*Inicio de media query para 'grilla-servicios'*/
@media(min-width:1024px) {
    .grilla-servicios{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(3,auto);
        row-gap: 1em;
        grid-template-areas:
        "foto-servicio-1 desc-servicio-1"
        "desc-servicio-2 foto-servicio-2"
        "foto-servicio-3 desc-servicio-3"
        ;
    }

    .contenedor-desc-derecha{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-content: space-around;
        align-items: flex-end;
        height: 100%;
        margin-right: 25%;
        text-align: right;

        h2{
            display: inline-block;
            text-align: right;
            margin-bottom: 0;
        }
    
        p{
            display: inline-block;
            text-align: right;
            margin-bottom: 0;
        }
    }

    .contenedor-foto-izquierda{
        display: block;
        margin: 0 0 0 25%;
        height: 100%;
    }

    .contenedor-desc-izquierda{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-content: space-around;
        align-items: flex-start;
        height: 100%;
        margin: 0 10% 0 25%;
        text-align: right;

        h2{
            display: inline-block;
            text-align: right;
            margin-bottom: 0;
        }
    
        p{
            display: inline-block;
            text-align: justify;
            margin-bottom: 0;
        }

        h3{
            display: inline-block;
            text-align: right;
            margin-bottom: 0;
        }
    }

    .contenedor-foto-derecha{
        display: block;
        margin: 0 25% 0 0;
        height: 100%;
    }

}
/*Fin 'grilla-servivios*/

/*Inicio 'grilla-valores*/
.grilla-valores{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "title"
    "pe-desc"
    "valores"
    ;
    background-color: #003468;
    margin: 1.5em 10%;
    color: white;
}

.title{
    grid-area: title;
    margin: 0;

    h1{
        margin-bottom: 0;
        padding: 0.3em;
        text-align: center;
    }
}

.pe-desc{
    grid-area: pe-desc;
    margin: 0% 10%;
    text-align: center;
    padding: 1em 0;
}

.contenedor-valores{
    grid-area: valores;
    margin: 0% 10%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
}

.valor{
    display: inline-block;
    padding: 1em;

    h2{
        padding: 0.3em 0 0 0;
        margin: 0;
        font-size: 1.5em;
        font-family: 'Padauk';
        font-weight: 800;
    }
    
    p{
        padding: 0.5em 0;
        margin: 0;
        font-weight: 400;
        text-align: center;
    }
}

.valor-icon{
    width: 5em;
}

@media(min-width:768px) and (max-width:1023px) {
    .grilla-valores{
        margin: 3em 12.5%;
    }
    
}

@media(min-width:1024px) {
    .grilla-valores{
        margin: 3em 12.5%;
    }

    .valor{
        width: 30%;
    }

}
/*Fin 'grilla-valores*/

.bloque-5-0{
    p{
        margin: 0 10%;
        padding: 1em 0;
    }
}

@media(min-width:768px){
    .bloque-5-0{
        p{
            margin: 0 12.5%;
            text-align: center;
        }
    }
}

/*Inicio 'grilla-ubicaciones*/
/*MOBILE FIRST*/
.grilla-ubicaciones{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "ubicacion-1"
    "ubicacion-2"
    "ubicacion-3"
    ;
}

.ubicacion-1{
    grid-area: ubicacion-1;
    display: block;
    position: relative;
    background-color: #dde8ef;
    padding: 1em 0;
}

.ubicacion-2{
    grid-area: ubicacion-2;
    display: block;
    position: relative;
    background-color: #dde8ef;
    padding: 1em 0;
}

.ubicacion-3{
    grid-area: ubicacion-3;
    display: block;
    position: relative;
    background-color: #dde8ef;
    padding: 1em 0;
}

.contenedor-ubicacion-izquierda{
    display: block;
    position: relative;
    margin: 0 10%;
    background-color: white;
    box-shadow: 0 3px 10px rgba(68, 67, 67, 0.589);
    background-color: white;
    padding: 1em;

    p{
        padding: 1em 0;
    }
}

.contenedor-ubicacion-derecha{
    display: block;
    position: relative;
    margin: 0 10%;
    background-color: white;
    box-shadow: 0 3px 10px rgba(68, 67, 67, 0.589);
    background-color: white;
    padding: 1em;

    p{
        padding: 1em 0;
    }
}

.contenedor-ubicacion-centro{
    display: block;
    position: relative;
    margin: 0 10%;
    background-color: white;
    box-shadow: 0 3px 10px rgba(68, 67, 67, 0.589);
    background-color: white;
    padding: 1em;

    p{
        padding: 1em 0;
    }
}


.foto-ubicacion{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

/*Inicio media query 'grilla-ubicaciones'*/
@media(min-width:768px) and (max-width:1023px){
    .grilla-ubicaciones{
        display: grid;
        margin-bottom: 1em;
        grid-template-columns: repeat(3,33.33%);
        grid-template-rows: 100%;
        grid-template-areas:
        "ubicacion-1 ubicacion-2 ubicacion-3"
        ;
    }

    .contenedor-ubicacion-izquierda{
        margin: 0 0 0 37.5%;
    }

    .contenedor-ubicacion-derecha{
        margin: 0 37.5% 0 0;
    }

    .contenedor-ubicacion-centro{
        margin-left: 18.75%;
        margin-right: 18.75%;
    }
}

@media(min-width:1024px){
    .grilla-ubicaciones{
        display: grid;
        margin-bottom: 3em;
        grid-template-columns: repeat(3,33.33%);
        grid-template-rows: 100%;
        grid-template-areas:
        "ubicacion-1 ubicacion-2 ubicacion-3"
        ;
    }

    .contenedor-ubicacion-izquierda{
        margin: 0 0 0 37.5%;
    }

    .contenedor-ubicacion-derecha{
        margin: 0 37.5% 0 0;
    }

    .contenedor-ubicacion-centro{
        margin-left: 18.75%;
        margin-right: 18.75%;
    }
}

/*Inicio 'grilla-footer'*/
/*Inicio Mobile First*/
.grilla-footer{
    display: grid;
    margin-top: 1em;
    margin-bottom: 1em;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "footer-varios"
    "footer-enlaces"
    "footer-contacto";
    color: white;
}

.footer-varios{
    grid-area: footer-varios;
}

.footer-enlaces{
    grid-area: footer-enlaces;
}

.footer-contacto{
    grid-area: footer-contacto;
}


.contenedor-footer-varios{
    margin: 0 10%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    margin: 0 0 1em 0;

    p{
        padding: 1em 0;
        margin-bottom: 0;
        text-align: center;
    }
}

.contenedor-enlaces{
    border-top: 0.1em solid white;
    margin: 0 10%;
    height: 100%;

    a{
        color: white;

        &:hover{
            background-color: white;
            color: #003468;
        }

        &:visited:hover{
            color: #003468;
        }
    }
}

.contenedor-contacto{
    margin: 0 10%;
    height: 100%;

    ul{
        li{
            margin-bottom: 1.5em;
        }
    }
}

.rr-ss{
    display: flex;
    flex-flow: row;
    gap: 1em;
    justify-content: center;
    align-content: center;
}
/*Fin Mobile First*/

@media(min-width:1024px){
    .grilla-footer{
        display: grid;
        margin-top: 1em;
        margin-bottom: 1em;
        grid-template-columns: repeat(3,33.33%);
        grid-template-rows: 100%;
        grid-template-areas:
        "footer-varios footer-enlaces footer-contacto"
        ;
    }

    .footer-varios{
        grid-area: footer-varios;
        display: block;
    }

    .contenedor-footer-varios{
        margin: 0 0 0 37.5%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
        margin: 0;

        p{
            padding: 1em 0;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .contenedor-enlaces{
        margin: 0 18.75%;;
        height: 100%;
        border-top: none;
    }

    .contenedor-contacto{
        margin: 0 37.5% 0 0;
        height: 100%;
    }

    .rr-ss{
        display: flex;
        flex-flow: row;
        gap: 1em;
        justify-content: center;
        align-content: center;
    }
}
/*Fin 'grilla-footer'*/