/*Inicio Estructura Pagina 'Servicios' con Grids*/
/*Inicio Estructura Mobile First*/
.grilla-cuerpo-servicios{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh auto auto;
    grid-template-areas:
    "encabezado-1"
    "grilla-servicios-v2"
    "footer";
}

.encabezado-2{
    grid-area: encabezado-2;
    display: none; 
}

.grilla-servicios-v2{
    grid-area: grilla-servicios-v2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    row-gap: 1.5em;
    grid-template-areas:
    "servicios-titulo"
    "servicio-asistencia-desc"
    "servicio-asistencia-foto"
    "servicio-traslado-desc"
    "servicio-traslado-foto"
    "servicio-rescate-desc"
    "servicio-rescate-foto";

    background-color: white;
    margin: 1em 10% 3em 10%;

    h1{
        font-family: 'Padauk';
        font-size: 1.5em;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    p{
        padding: 1em 0;
    }

    .servicios-titulo{
        grid-area: servicios-titulo;
    }

    .servicio-asistencia-desc{
        grid-area: servicio-asistencia-desc;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 10% 0 0;
    }
    
    .servicio-asistencia-foto{
        grid-area: servicio-asistencia-foto;
    }
    .servicio-traslado-desc{
        grid-area: servicio-traslado-desc;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 0 10%;

        p{
            text-align: right;
        }
    }
    
    .servicio-traslado-foto{
        grid-area: servicio-traslado-foto;
    }
    .servicio-rescate-desc{
        grid-area: servicio-rescate-desc;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 10% 0 0;
    }
    
    .servicio-rescate-foto{
        grid-area: servicio-rescate-foto;
    }
}

.contenedor-foto-1{
    display: block;
}

@media(min-width:768px) and (max-width:1023px){
    .grilla-cuerpo-servicios{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "encabezado-2"
        "grilla-servicios-v2"
        "footer";
    }

    .encabezado-2{
        grid-area: encabezado-2;
        display: grid;
        grid-template-columns: repeat(7,14.27%);
        grid-template-rows: 100%;
        grid-template-areas:
        "enc-2-logo enc-2-inicio enc-2-servicios enc-2-ubicacion enc-2-trabajos enc-2-nosotros enc-2-iconos";
        padding: 1em 0;
        font-family: 'Padauk';
        font-size: 1rem;
        text-align: center;
        color: #003468;

        a{
            display: block;
            margin: 0 0.5em;
            border-style: solid;
            border-width: 0.1em;
            border-color: #003468;
            padding: 0.5em 0;
            height: 100%;
            color: #003468;

            &:hover{
                background-color: #003468;
                color: white;
            }
        }
    }

    .enc-2-logo{
        grid-area: enc-2-logo;
        align-self: center;

        a{
            display: block;
            border-style: none;

            &:hover{
                background-color: white;
            }
        }
    }

    .enc-2-inicio{
        grid-area: enc-2-inicio;
        align-self: center;
    }

    .enc-2-servicios{
        grid-area: enc-2-servicios;
        align-self: center;
    }

    .enc-2-ubicacion{
        grid-area: enc-2-ubicacion;
        align-self: center;
    }

    .enc-2-trabajos{
        grid-area: enc-2-trabajos;
        align-self: center;
    }

    .enc-2-nosotros{
        grid-area: enc-2-nosotros;
        align-self: center;
    }

    .enc-2-iconos{
        grid-area: enc-2-iconos;
        display: block;
        align-self: center;

        a{
            display: inline-block;
            margin: 0;
            border-style: none;

            &:hover{
                background-color: white;
            }
        }
    }

    .encabezado-icono{
        width: 25px;
    }
}

@media(min-width:1024px){
    .grilla-cuerpo-servicios{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "encabezado-2 encabezado-2"
        "grilla-servicios-v2 grilla-servicios-v2"
        "footer footer"
    }

    .encabezado-1{
        display: none;
    }

    .encabezado-2{
        grid-area: encabezado-2;
        display: grid;
        grid-template-columns: repeat(7,14.27%);
        grid-template-rows: 100%;
        grid-template-areas:
        "enc-2-logo enc-2-inicio enc-2-servicios enc-2-ubicacion enc-2-trabajos enc-2-nosotros enc-2-iconos";
        padding: 1em 0;
        text-align: center;
    
        a{
            display: block;
            margin: 0 0.5em;
            border-style: solid;
            border-width: 0.1em;
            border-color: #003468;
            padding: 0.5em 0;
            height: 100%;
            color: #003468;

            &:hover{
                background-color: #003468;
                color: white;
            }
        }
    }

    .enc-2-logo{
        grid-area: enc-2-logo;
        align-self: center;

        a{
            display: block;
            border-style: none;

            &:hover{
                background-color: white;
            }
        }
    }

    .enc-2-inicio{
        grid-area: enc-2-inicio;
        align-self: center;
    }

    .enc-2-servicios{
        grid-area: enc-2-servicios;
        align-self: center;
    }

    .enc-2-ubicacion{
        grid-area: enc-2-ubicacion;
        align-self: center;
    }

    .enc-2-trabajos{
        grid-area: enc-2-trabajos;
        align-self: center;
    }

    .enc-2-nosotros{
        grid-area: enc-2-nosotros;
        align-self: center;
    }

    .enc-2-iconos{
        grid-area: enc-2-iconos;
        display: block;
        align-self: center;

        a{
            display: inline-block;
            margin: 0;
            border-style: none;

            &:hover{
                background-color: white;
            }
        }
    }

    .encabezado-icono{
        width: 25px;
    }

    .grilla-servicios-v2{
        grid-area: grilla-servicios-v2;
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "servicios-titulo servicios-titulo"
        "servicio-asistencia-desc servicio-asistencia-foto"
        "servicio-traslado-foto servicio-traslado-desc"
        "servicio-rescate-desc servicio-rescate-foto";
        background-color: white;
        margin: 0 12.5% 3em 12.5%;
    }
}