/*Inicio Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*Fin Fuentes*/

/*Inicio Reseteo*/
*{
    padding: 0;
    margin: 0px;
}
/*Fin Reseteo*/

/*Inicio Layout con Grids*/
.cuerpo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 66px 20px 800px 1fr 260px 450px 300px;
    grid-template-areas: 
    "header"
    "bloque-color-azul"
    "banner"
    "seccion-ns"
    "seccion-pe"
    "seccion-de"
    "footer"
    ;
}

.header{
    grid-area: header; 
    background-color: aqua; 
}

.bloque-color-azul{
    grid-area: bloque-color-azul;
    padding: 10px;
    background-color: #005c99;
}

.banner{
    grid-area: banner;
}

.seccion-ns{
    grid-area: seccion-ns;
}

.seccion-pe{
    grid-area: seccion-pe;
}

.seccion-de{
    grid-area: seccion-de;
}

.footer{
    grid-area: footer;
    background-color: #005c99;
}
/*Fin Layout con Grids*/

/*Seccion Encabezado Inicio*/
.encabezado-contenedor-flex-1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.encabezado-contenedor-flex-2{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 48%;
    padding: 0px;
}

.encabezado-contenedor-flex-3{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: 48%;
    padding: 0px;
}

.encabezado-logo{
    width: 60px;
    height: 50px;
    margin-right: 50px;
}

.encabezado-logo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.encabezado-navegacion{
    margin-left: 50px;
}

.encabezado-lista {
    list-style-type: none;
}

.encabezado-lista li{
    display: inline-block;
    padding: 20px;
    list-style-type: none;
}

.encabezado-lista li:hover {
    display: inline-block;
    padding: 20px;
    list-style-type: none;
    background-color: #e6eff5;
}

.encabezado-link {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.encabezado-link:visited {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #005c99;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
/*Seccion Encabezado Fin*/

/*Inicio Banner*/
.h1-banner{
    color: white;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 75px;
}
.banner-contenedor{
    position: relative;
}

.banner-img{
    width: 100%;
    object-fit: cover;
}

.banner-contenedor-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(85, 85, 85, 0.349);
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.banner-contenedor-cta p{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
/*Fin Banner*/

/*Inicio Grilla Servicios*/
.seccion-ns-servicios{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,33.3%);
    grid-column-gap: 0%;
    grid-row-gap: 0%;
    grid-template-areas: 
    "foto-asistencias   info-asistencias"
    "info-traslados     foto-traslados"
    "foto-rescates      info-rescates"
    ;
}

.foto-asistencias{
    grid-area: foto-asistencias;
    background-color: red;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-traslados{
    grid-area: foto-traslados;
    background-color: blue;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-rescates{
    grid-area: foto-rescates;
    background-color: orange;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-asistencias{
    grid-area: info-asistencias;
    display: flex;
    flex-flow: column wrap; 
    justify-content: center;
    align-items: center;
    align-content: center;
}

.info-traslados{
    grid-area: info-traslados;
    display: flex;
    flex-flow: column wrap; 
    justify-content: center;
    align-items: center;
    align-content: center;
}

.info-rescates{
    grid-area: info-rescates;
    display: flex;
    flex-flow: column wrap; 
    justify-content: center;
    align-items: center;
    align-content: center;
}
/*Fin Grilla Servicios*/

/*Inicio Estilo General*/
.eg-h1{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    color: #00375c;
    text-align: center;
    padding: 10px;
    margin: 0%;
}

.button{
    background-color: #005c99;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    letter-spacing: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    text-align: center;
}

.info-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 0px;
    margin: 0%;
}

.info-flex h2{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 22px;
    color: #00375c;
    margin: 0%;
}

.info-flex h3{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 18px;
    color: #00375c;
    margin: 0%;
}

.info-flex p{
    text-align: center;
    line-height: 20px;
    font-family: Rubik;
    font-size: 14px;
    color: #00375c;
    padding: 5px;
    width: 75%;
    margin: 0%;
    padding: 10px;
}
.info-flex ul{
    text-align: justify;
    font-family: Rubik;
    font-size: 14px;
    color: #00375c;
    padding: 15px;
    line-height: 20px;
    list-style: none;
    margin: 0%;
}

#display img{
    display: block;
}
/*Inicio Estilo General*/

/*Inicio Ubicaciones*/
.seccion-de-contenedor-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0%;
}

.contenedor-ubicaciones {
    display: flex;
    background-color: orange;
}

.ubicacion{
    display: block;
    position: relative;
    width: 33.33%;
    text-align: center;
}

.ubicacion-img {
    width: 100%;
}

.ubicacion-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    margin: 0%;
}
/*Fin Ubicaciones*/

/*Inicio Footer*/
.footer-contenedor-flex {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    margin-top: 50px;
}

.footer-logo-flex{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.footer-logo-desc {
    margin-top: 20px;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    color: white;
}

.footer-titulo-h1 {
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 20px;
    color: white;
    margin: 0%;
}

.footer-lista {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    text-align: right;
    font-family: Rubik;
    font-size: 16px;
    line-height: 15px;
    list-style: none;
    padding: 0%;
    color: white;
}

.footer-lista li{
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    line-height: 15px;
    list-style: none;
    color: white;
}

.footer-contacto-icon-desc {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.footer-icon {
    width: 25px;
    object-fit: contain;
    margin-left: 0px;
}

.footer-desc {
    padding: 10px;
    text-align: left;
    margin-right: 10px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.footer-link {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.footer-link:hover {
    background-color: #e6eff5;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: #00375c;
    text-align: center;
    text-decoration: none;
    line-height: 30px;   
}

.footer-link:visited {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
/*Fin Footer*/















/*Estilos Desafío Entrega Anterior*/
/*Inicio Estilo General*/
ul {
    list-style: none;
}

.white {
    color: white;
}
/*Fin Estilo General*/

/*Inicio Estilo Encabezado*/
.header-container {
    background-color: white;
    padding: 10px;
}

.div-logo {
        position: relative;
        float: left;
}
.div-nav {
    position: relative;
    display: inline-block;
    height: 60px;
    background-color: white;
    margin-left: 25px;
}
.div-nav li {
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: white;
}

.link-1 {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.link-1:hover {
    background-color: #e6eff5;
    padding: 20px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
    text-decoration: none;
}
.link-1:visited {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #005c99;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
/*Fin Estilo Encabezado*/

/*Inicio Franja Azul entre Encabezado y Banner*/
.color-block {
    padding: 10px;
    background-color: #005c99;
}
/*Fin Franja Azul entre Encabezado y Banner*/

/*Inicio Estilo Banner*/
.main-container-banner {
    position: relative;
    font-family: 'Open Sans';
    text-align: center;
}

.main-banner-img {
    margin-left: 0px;
    width: 100%;
    object-fit: cover;
}

.div-container-p-2 p {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
/*Fin Estilo Banner*/

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(85, 85, 85, 0.349);
    padding: 20px;
    color: white;
  }

.text-block-h1-1 h1 {
    font-family: 'Open Sans';
    font-size: 75px;
}

.text-block-h1-2 h1 {
    font-family: 'Open Sans';
    font-size: 40px;
    color: white;
}

.text-block p {
    font-family: 'Rubik';
    font-weight: 400;
}

.text-block-2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-right: 20px;
}

.text-block-3 {
    position: relative;
    display: inline-block;
    padding: 20px;
    width:200px;
    background-color: white;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
    line-height: 30px;
}

.text-block-5 {
    position: relative;
    display: inline-block;
    padding: 20px;
    width:400px;
    background-color: white;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
    line-height: 30px;
}

.div-container-h1 h1{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    color: #00375c;
    text-align: center;
    padding-bottom: 20px;
}

.div-container-h2 h2 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 25px;
    color: #00375c;
    text-align: center;
}

.div-container-h3 h3 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 20px;
    color: #00375c;
    text-align: center;
}

.div-container-p p {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div-container-ul {
    display: block;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
}

.div-container-button-1 {
    position: relative;
    display: block;
    background-color: white;
}

.div-container-button-2 {
    position: relative;
    display: block;
    padding-top: 15px;
}

/*Inicio Estilo Botones*/
.button-65 {
    background-color: #005c99;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    padding: 14px 30px;
    position: relative;
    text-align: center;
}
/*Fin Estilo Botones*/

/*Inicio Estilo Sección Servicios*/
.section-container-1 {
    position: relative;
    text-align: center;
    padding-top: 15px;
    background-color: white;
}

.section-container-2 {
    position: relative;
    background: white;
    box-sizing: border-box;
    padding:0px;
    width: 100%;
}

.div-container-img-1 {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    height: 550px;
    float: left;
}

.div-container-text {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    height: 550px;
    float: left;
    background-color: white;
}

.section-img-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Fin Estilo Sección Servicios*/

/*Inicio Estilo Sección 'Por Qué Escogernos'*/
.section-container-3 {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 20px;
}
/*Inicio Estilo Sección 'Por Qué Escogernos'*/

/*Inicio Estilo Ubicación*/
.div-container-img-2 {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 33.33%;
    height: 550px;
    float: left;
}

.text-block-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
}
/*Fin Estilo Ubicación*/

/*Inicio Estilo Footer*/
.div-footer {
    position: relative;
    padding-bottom: 100px;
}
.div-footer-column-1-logo {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 45px;
}
.div-footer-column-2-mapa {
    position: relative;
    float: left;
    width: 25%;
    padding-top: 20px;
}

.div-footer-column-3-contacto {
    position: relative;
    float: left;
    width: 25%;
    padding-top: 20px;
}

.div-footer-column-4-rrss {
    position: relative;
    float: left;
    width: 25%;
    padding-top: 20px;
}

.div-container-h1-2 h1 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    color: #00375c;
    text-align: left;
    margin-bottom: 10px;
    padding-top: 20px;
}

.div-container-ul-2 {
    display: block;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: left;
    line-height: 30px;
}

.footer-link-1 {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.footer-link-1:hover {
    background-color: #e6eff5;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #004a7a;
    text-align: center;
    text-decoration: none;
    line-height: 30px;   
}

.footer-link-1:visited {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    color: #005c99;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
/*Fin Estilo Footer*/


/*Inicio estilos agregados durante desafio #4*/
.nav-link-rav{
    display: block;
    padding: 0.5rem 1rem;
    color: #005c99;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.contenedor-contacto{
    background-color: white;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
}
.contenedor-contacto-flex{
    background-color: white;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
}

.contenedor-contacto-2{
    background-color: white;
    padding: 10px;
    margin: 10px;
    font-family: Rubik;
    color: #00375c;
}

.contenedor-contacto-3{
    display: inline-block;
    text-align: center;
    background-color: white;
}

.eg-h2{
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 22px;
    color: #00375c;
    margin: 0%;
}
/*Fin estilos agregados durante desafio #4*/

/*Animaciones*/
.texto-animado-fade-h2{
    font-family: 'Open Sans';
    font-weight: 800;
    animation-duration: 2s;
    animation-name: fade;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.texto-animado-fade{
    animation-duration: 2s;
    animation-name: fade;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.texto-animado-zoom{
    font-family: 'Open Sans';
    font-weight: 800;
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes zoom{
    0% {opacity:0;}
    100% {opacity:1;}

    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}